<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lqs.dao.AdministratorDao">
    <sql id="param">
         id,
         account,
         password,
         'position'
    </sql>
    <select id="selectOneByAccountAndPwd" resultType="cn.lqs.administrator.bean.Administrator" >
        select
        <include refid="param"></include>
        from administrator
        where account = #{account} and password = #{password}
    </select>
    <insert id="create" >
        insert into administrator(id,account,password) value(#{id},#{account},#{password})
    </insert>
    <update id="modify">
        update administrator set password = #{password} where id = #{id}
    </update>
    <delete id="remove" parameterType="string" >
        delete from administrator where id=#{string}
    </delete>
</mapper>