<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lqs.dao.CartDao">
    <sql id="params">
        id,
        user_id userId,
        goods_id,
        `number`
    </sql>
    <select id="queryByUserId" parameterType="string" resultType="cn.lqs.cart.bean.Cart">
        select <include refid="params"></include>
        from cart
        where user_id = #{string}
    </select>
    <insert id="create" parameterType="cn.lqs.cart.bean.Cart">
        insert into cart(id,user_id,goods_id,`number`) value (#{id},#{userId},#{goodsId},#{number})
    </insert>
    <delete id="remove">
        delete from cart where id=#{id}
    </delete>
    <delete id="removeByUserId" parameterType="String">
        delete from cart where user_id=#{id}
    </delete>
    <update id="updateGoodsNum" parameterType="cn.lqs.cart.bean.Cart">
        update cart set `number` = #{number} where id = #{id}
    </update>
</mapper>